snippet loremimg "Lorem generate image"
<img src="http://placehold.it/${1:width}x${2:height}">$0
endsnippet

snippet sqloremimg "Square lorem genereate image"
<img src="http://placehold.it/${1:width}x$1">$0
endsnippet

snippet djs "Django {% var %}"
{% ${1:State name} %}$0
endsnippet

snippet djc "Django {{# comment #}}"
{# ${1:this won't be rendered} #}$0
endsnippet

snippet com "HTML commentary"
<!-- ${1:commentary here} -->$0
endsnippet

